body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    color: #777777;
    background: #4aa;
}

header {
    background: #ffffff;
    border: 2px solid #cccccc;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navleft {

}

#navmiddle {

}

#navright {

}

#container {
    background-color: #ffffff;
    border-color: 2px solid #dddddd;
    margin: auto;
    width: 960px;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content {

}

#profilepicture {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #666666;
    font-size: 10px;
    text-align: center;
    padding-top: 30px;
}