body {
    font-size: 18px;
    line-height: 150%;
    color: #777777;
    background-image: url("../images/background.png");
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 20px;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headingbar {
    width: 960px;
    margin: auto;
}


h1 {
    background-color: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    width: 30%;

}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 10px;
    float: right;
}

#container {
    background-color: #ffffff;
    border-color: 2px solid #dddddd;
    margin: auto;
    width: 960px;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#sectionheader {
    border-bottom: 2px solid #cccccc;
}

#content {

}

#profilepicture {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #666666;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    margin-top: 5%;
    border-top: 6px solid #4aaaa5;
}